*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  width: 100vw;
  overflow-x: hidden;
}
#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_one{
 width: 100%;
 height:387px;
 background-image: url("BG.jpg");
 background-repeat: no-repeat;
 background-color: #191B2B;
 background-position: start;
 background-size:100%;
 top: 0;
 left: 0;
 display: flex;
 justify-content: center;
}
nav{
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 86%;
  align-items: center;
}
nav .logo{
  max-height: 47px;
}
.logo img{
  height: 47px;
  cursor: pointer;
}
.btn-pro{
  height: 100%;
  display: flex;
  gap:10px;
  align-items: center;
}
.btn-pro button{
  height: fit-content;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #285cc3;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 500;
  color: #ffff;
  border-radius: 24px;
  padding: 5px 22px;
}
.btn-pro .profile{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #ffff;
  overflow: hidden;
  cursor: pointer;
}
.profile img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.container_two{
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  position: relative;
}
.container_two .left{
  width: auto;
  margin-left: 160px;
  position: relative;
}
.left .avatar{
  width: 120px;
  height: 120px;
  border: 8px solid #ffff;
  border-radius: 50%;
  background-image: url("avatar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:200%;
  position: absolute;
  top: -70px;
  display: flex;
  justify-content: end;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.left .avatar .change{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #ffff;
  background-color: #dee4f0;
  display: grid;
  cursor: pointer;
  place-items: center;
}
.left .avatar .change i{
  color: #285cc3;
  font-size: .9em;
}
.left .name_mail{
  position: absolute;
  bottom: 0;
  left:0;
  margin-left: 160px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.left .name_mail .name{
  font-size: 1.1em;
  color:#474f63 !important;
  font-weight: 500;
}
.left .name_mail .mail{
  font-size: .9375rem;
  color:#474f63 !important;
  font-weight: 400;
}
.container_two .right{
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_two .right .edit{
  width:34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  background-color: #dee4f0;
  align-items: center;
  justify-content: center;
  color: #285cc3;
  cursor: pointer;
}
.conatiner_three{
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.conatiner_three .menus{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 16px 24px;
  width: 180px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 24px;
}
.conatiner_three .main_content{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width:800px;
  height: 160px;
  padding: 16px 24px;
  border-radius: 24px;
  display: flex;
}
.conatiner_three .main_content .detials{
  width: 67%;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.main_content .detials .time{
  font-size: .8125rem;
  font-weight: 500;
  color: #474f63 !important;
}
.main_content .detials .role{
  font-size: 1em;
  color: #e96064 !important;
  font-weight: 600;
}
.main_content .detials .location{
  font-size: .9375rem;
  font-weight: 500;
  color: #474f63 !important;
}
.main_content .detials .expreiance{
  font-size: .9375rem;
  font-weight: 500;
  color: #474f63 !important;
  margin-bottom: 10px;
}
.main_content .detials .discrption{
  font-size: .9375rem;
  font-weight: 500;
  color: #474f63 !important;
  line-height: 1.2rem;

}
.conatiner_three .main_content .status{
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.conatiner_three .main_content .status .app_status{
  font-family: .857rem;
  background-color: #338cf0;
  border-radius: 24px;
  color: #ffff;
  max-width: 215px;
  padding: 6px 10px;
  font-weight: 500;
  line-height: .9em;
}
.conatiner_three .main_content .status .app_date{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}
.status .app_date span{
  color: #474f63;
  font-weight: 500;
}
.small{
  font-size: .857rem;
}
.conatiner_three .menus .menu{
  font-size: .9375rem;
  font-weight: 500;
  color: #e96064;
  padding: 8px 16px;
  width: fit-content;
  border-radius: 24px !important;
  cursor: pointer;
}
.conatiner_three .menus .menu:hover{
  background-color: #828b992b;
}
.clicked{
  color: #ffff !important;
  background-color: #e96064 !important;
}
footer{
  width: 100%;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  background-color: #f5f6fa;
}
footer .powered{
  letter-spacing: .1px;
  font-weight: 500;
  color: #5c6575;
  margin-right: 8px;
  cursor: pointer;
}
footer .footer_logo{
  width: 99px;
  height: 34px;
  background-image: url("logo.svg");
  cursor: pointer;
}